
<div class="container allpets">
  <div class="row">
    <div class="col-12">
        <div id="petProfile">
        <h1 id="pPheader">{{pet.pet_name}}'s Profile</h1>
        <div id="petData">
            <div id="left-column">
                <h3>Info:</h3>
                <p><b>Owner's name:</b> {{pet.petOwner.owner_name}}</p>
                <p><b>Owner's phone:</b> {{pet.petOwner.phone_number.[0]}}{{pet.petOwner.phone_number.[1]}}{{pet.petOwner.phone_number.[2]}}-{{pet.petOwner.phone_number.[3]}}{{pet.petOwner.phone_number.[4]}}{{pet.petOwner.phone_number.[5]}}-{{pet.petOwner.phone_number.[6]}}{{pet.petOwner.phone_number.[7]}}{{pet.petOwner.phone_number.[8]}}{{pet.petOwner.phone_number.[9]}}</p>
                <p><b>Pet Type:</b> {{pet.pet_type}}</p>
                <p><b>Species:</b>  {{pet.pet_species}}</p>
                <p><b>Check-In Date:</b> {{pet.check_in_date}}</p>
                <p><b>Check-out Date:</b> {{pet.check_out_date}}</p>
                <p><b>Kennel Size:</b> {{pet.kennel_size}}</p>
            </div>
            <div id="right-Column">
                <div id="activityHeader"><h3>Activities:</h3><button id="addActivity">Add Activity</button></div>
                {{#each activitys as |activity|}}
                <div class="card">
                    <div class="card-body rounded border border-dark border-3" style="background-color: #e48365;">
                        <h5 class="card-title rounded border border-dark border-3 text-center" style="background-color: #7dc5d1;">{{activity.activity_type}}</h5>
                        <p class="d-flex">{{activity.activity_description}}</p>
                        <p class="d-flex"><b>Time :</b>{{activity.time}}</p>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
        
        <button id="updatePet">Edit Pet Data</button>
        <button id="deletePet">Delete Pet</button>

    </div>
    <div id="dialog">
        <h1 id="pPheaderUpdate" size="10" id="name" type="text">Update Pet's Profile</h1>
        <div id=petData>
            <div id="left-column">
                <h3>Info:</h3>
                <p><b size="3"  type="text" >Pet Number: </b><span id="id">{{pet.id}}</span></p>
                <p><b>Pet's name:</b> <input size="10" id="name" type="text" value={{pet.pet_name}}></p></p>
                <p><b>Owner's name:</b> <input size="10" id="ownerName" type="text" value={{pet.petOwner.owner_name}}></p>
                <p><b>Owner's phone:</b> {{pet.petOwner.phone_number.[0]}}{{pet.petOwner.phone_number.[1]}}{{pet.petOwner.phone_number.[2]}}-{{pet.petOwner.phone_number.[3]}}{{pet.petOwner.phone_number.[4]}}{{pet.petOwner.phone_number.[5]}}-{{pet.petOwner.phone_number.[6]}}{{pet.petOwner.phone_number.[7]}}{{pet.petOwner.phone_number.[8]}}{{pet.petOwner.phone_number.[9]}}</p>
                <p><b>Pet Type:</b> <input size="10" id="type" type="text" value={{pet.pet_type}}></p>
                <p><b>Species:</b>  <input size="10" id="species" type="text" value={{pet.pet_species}}></p>
                <p><b>Check-In Date:</b> <input size="10" id="checkInDate" type="text" value={{pet.check_in_date}}></p>
                <p><b>Check-out Date:</b> <input size="10" id="checkOutDate" type="text" value={{pet.check_out_date}}></p>
                <p><b>Kennel Size:</b> <input size="3" id="kennelSize" type="text" value={{pet.kennel_size}}></p>
            </div>

        </div>
        
        <button id="submitPet">Submit</button>

    </div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/updatePet.js"></script>
<script src="/js/deletePet.js"></script>